
nav{
  background-color: black;
  padding: 15px;

}
ul{
  display: flex;
  justify-content: space-around;
}
ul li a{
  color: antiquewhite;
  font-size: 28px;
  text-decoration: none;
  margin-inline: 25px;
}
h2{
  text-align: center;
  margin-top: 25px;
}
